<div class="mt-4">
  <h3>Thêm món ăn</h3>

  <form action="addFood" method="post">
    <div class="form-group">
      <label for="foodName">tên món ăn</label>
      <input type="text" name="name" id="foodName" class="form-control" placeholder="tên món ăn">
    </div>
    <div class="form-group">
      <label for="foodDescription"> mô tả</label>
      <input type="text" name="description" id="foodDescription" class="form-control" placeholder="mô tả món ăn">
    </div>
    
    {{!-- <div class="control-group">
      <!-- price -->
      <label class="control-label" for="category">Category</label>
      <div class="controls">
        <input type="number" id="category" name="category" placeholder="{{food.category}}" class="input-xlarge">
        <p class="help-block">Please provide category of dish like: Pizza, Burger, .etc</p>
      </div>
    </div> --}}
    
    <div class="form-group">
      <label for="foodCategory"> category</label>
      <input type="text" name="category" id="foodCategory" class="form-control" placeholder="loại món ăn">
    </div>

    <div class="form-group">
      <label for="foodPrice"> giá</label>
      <input type="number" name="price" id="foodPrice" class="form-control" placeholder="giá món ăn">
    </div>
    <div class="form-group">
      <label for="foodImg"> link ảnh</label>
      <input type="text" name="img" id="foodImg" class="form-control" placeholder="link ảnh món ăn">
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary mb-3">xác nhận thêm sản phẩm</button>
    </div>
  </form>
</div>