<nav class="nav">
  <a class="nav-link active" href="/">Home</a>
  <a class="nav-link" href="users/login">Dang Nhap</a>
  <a class="nav-link" href="users/sign-in">Dang Ky</a>
  <a class="nav-link " href="#" tabindex="-1" >Gio Hang</a>
</nav>