<nav class="nav">
  <a class="nav-link active" href="/">Home</a>
  <a class="nav-link" href="#">Dang Nhap</a>
  <a class="nav-link" href="#">Dang Ky</a>
  <a class="nav-link " href="#" tabindex="-1" >Gio Hang</a>
</nav>