<form class="form-horizontal" action='../updatedProfile/{{user._id}}' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">update dish </legend>
    </div>
    <div class="control-group">
      <!-- name -->
      <label class="control-label"  for="name">name</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="{{user.name}}" class="input-xlarge">
        <p class="help-block">name of the dish</p>
      </div>
    </div>

    
 
    
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">update</button>
      </div>
    </div>
  </fieldset>
</form>